:root
{
	--font-color: black;
	--background: Ivory;
	
	--topnav-button-text: white;
	--topnav-button-background: Green;
	--topnav-button-hover: #009000;
	
	
	--input-field-color: SkyBlue;
	--input-field-text: white;
	--input-field-placeholder: DarkBlue;
	--input-submit-color: Green;
	--input-submit-text: white;
	--input-submit-hover: #009000;
	
	--footer-background: SteelBlue;
	--footer-text: Indigo;
	
	--task-level-low-color: #17a63d;
	--task-level-midlow-color: #c2bf1f;
	--task-level-mid-color: #d99a1c;
	--task-level-midhigh-color: #eb5e17;
	--task-level-high-color: #c7311a;
}
body
{
	color: var(--font-color);
	background-color: var(--background);
}


#topbar
{	
	padding: calc(5px + 1vh);
	border-bottom: 2px solid var(--topnav-button-background);
}
#topbar #logo
{

	font-size: calc(12px + 2vh);
	min-font-size: 10px;	
	font-weight: 900;
}

.topnav-button
{
	padding: 14px 0;
	border-radius: 5px;
	text-align: center;
	color: var(--topnav-button-text);
	text-decoration: none;
	background-color: var(--topnav-button-background);
	display: block;
	font-weight: 700;
}
.topnav-button:hover
{
	cursor: pointer;
	background-color: var(--topnav-button-hover);
}
.blur-background
{
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(127,127,127, 0.4);
	color: black;
	
}


.dialog-box
{
	margin-top: 15vh;
	padding: 20px;
	background-color: white;
	border-radius: 15px;
}
.dialog-box-close
{
	cursor: pointer;
}
.dialog-box-title
{
	font-size: 200%;
	font-weight: 700;
}

.dialog-box-content
{
	margin-top: 20px;
}

.dialog-box input
{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 6px;
	outline: none;
	border: none;
	background-color: var(--input-field-color);
	color: var(--input-field-text);
}
.dialog-box input:focus
{
	-webkit-box-shadow: inset 0px 0px 22px -15px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 0px 22px -15px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 22px -15px rgba(0, 0, 0, 1);
}
.dialog-box input::placeholder
{
	color: var(--input-field-placeholder);
}

.dialog-box input[type=submit]
{
	margin: 30px 0 30px 0;
	font-size: 170%;
	font-weight: 700;
	background-color: var(--input-submit-color);
	color: var(--input-submit-text);
}
.dialog-box input[type=submit]:hover
{
	background-color: var(--input-submit-hover);
}
.dialog-box input[type=radio],
.dialog-box input[type=checkbox]
{
	width: auto;
	margin-top: 18px;
}

footer
{
	margin-top: 400px;
	min-height: 300px;
	border-top: 2px solid var(--footer-text);
	background-color: var(--footer-background);
	color: var(--footer-text);
}

#footer-top-text
{
	margin-top: 10px;
}

nav ul
{
	padding: 0;
	margin: calc(2em + 10px) 0;
	list-style-type: none;
	text-align: center;
}
nav .active-thread
{
	background-color: green;
}
nav .inactive-thread
{
	background-color: red;
}
nav .active-thread:hover
{
	background-color: lightgreen;
}
nav .inactive-thread:hover
{
	background-color: pink;
}
nav ul a
{
	padding: 3vh 0;
	width: 100%;
	color: white;
	text-decoration: none;
	display: inline-block;
}
#thread-active-name
{
	padding: 10px;
	text-align: center;
	font-size: 200%;
	font-weight: 700;
}

.task-power-1
{
	background-color: var(--task-level-low-color);
}
.task-power-2
{
	background-color: var(--task-level-midlow-color);
}
.task-power-3
{
	background-color: var(--task-level-mid-color);
}
.task-power-4
{
	background-color: var(--task-level-midhigh-color);
}
.task-power-5
{
	background-color: var(--task-level-high-color);
}

.task-title
{
	padding: 15px;
	font-size: calc(20px + 1vh);
	font-weight: 700;
}
.task-content
{
	padding: 15px;
	font-size: calc(12px + 0.5vh);
	overflow: auto;
	height: 30vh;
}
.task-show
{
	margin: 10px;
	border-radius: 10px;
}
.task-content::-webkit-scrollbar
{
	width: 6px;
}
.task-content::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.5);
	border-radius: 3px;
	width: 4px;
}
#create-thread
{
	background-color: rgba(255,255,255, 0.1);
}
#create-thread:hover
{
	background-color: rgba(255,255,255, 0.2);
}


#add-thread input[type=text],
#add-thread select,
#add-thread input[type=submit],
#add-task input[type=text],
#add-task input[type=submit],
#add-task textarea,
#add-task textbox
{
	margin: 5px 0;
	padding: 5px;
	width: 100%;
	resize: none;
}
#add-task input[type=radio]
{
	margin: 5px 0;
}
#add-task-button
{
	padding: 20px;
	position: absolute;
	background-color: var(--task-level-low-color);
	border-radius: 100px;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
}
